.delivery_address_form > div{
    width: 100%;
    margin-bottom: 10px !important;
}
.delivery_address_form > div:nth-child(3){
    width: 50%;
    margin-right: 0;
}
.delivery_address_form > div:nth-child(4){
    width: 50%;
    margin-right: 0;
}
.delete_border_div{
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-right-color: #eeeeee;
    border-top-color: #eeeeee;
}
.delete_icon_div{
    position: absolute;
    top: 6px;
    right: 6px;
}